body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  width: 400px;
}

.calculator-screen {
  width: 100%;
  height: 80px;
  border: 1px solid grey;

  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 4rem;
}

button {
  height: 60px;
  font-size: 2rem !important;
}

.equal-sign {
  height: 98%;
  grid-area: 2 / 4 / 6 / 5;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.lightTheme {
  background: #fff;
  color: #000;
}
.lightTheme button {
  background: #f0f0f0;
}
.lightTheme .calculator {
  background-color: #fff;
}
.lightTheme input {
  background-color: #fff;
}

.darkTheme {
  background-color: #000;
  color: #fff;
}
.darkTheme button {
  background: #666;
}
.darkTheme .calculator {
  background-color: #000;
}
.darkTheme input {
  background-color: #000;
}
